header {
    text-align: center;
    margin-bottom: 15px;
}
section {
    height: 100%;
}
.history {
    border-top-style: dotted;    
}
.conditions {
    border: dotted;
    height: fit-content;
    
}
.future {
    border: double;
    height: fit-content;
}